/* Global */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
	list-style: none;
}
body {
	color: var(--color-text0);
	font-family: var(--font1);
	font-size: var(--normal-font-size);
	background-color: var(--color-base0);
	line-height: 180%;
	padding-bottom: 200px;
}
h1 { font-size: var(--extra-large-font-size); }
h2 { font-size: var(--large-font-size); }
p {	font-size: var(--normal-font-size); }

.card {
	background-color: var(--color-base1);
	border-radius: var(--corner-radius);
	box-shadow: var(--color-shadow0);
}
.main{
	position: fixed;
}

/* Header */
header {
	position: relative;
	width: 100vw;
	overflow: hidden;
}
.header-particle-wrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: -1;
	will-change: transform;
}
.header-text-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15rem;
	margin-bottom: 13rem;
	gap: 2.5rem;
}
.nickname {
	color: var(--color-base0);
	background-image: linear-gradient(90deg, var(--color-red), var(--color-magenta));
	border-radius: .4rem;
	padding: 0 5px;
}
.header-title {
	color: var(--color-text1);
}
.header-subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 30rem;
	gap: 1.5rem;
}

/* Main */
main {
	display :flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 5rem;
}

/* About */
.about {
	max-width: 60rem;
	padding: 4rem;
}
.about-title {
	text-align: center;
	margin-bottom: 3rem;
}


/* Footer */
footer {
	margin-top: 400px;
	position: relative;
	min-height: 100px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-base1);
}
footer .wave {
	position: absolute;
	top: -70px;
	left: 0;
	width: 100%;
	height: 70px;
	background-image: url("../img/wave.png");
	background-size: 1000px 70px;
	animation: animateWave 4s linear infinite;
}

@keyframes animateWave {
	0% {
		background-position-x: 1000px;
	}
	100% {
		background-position-x: 0;
	}
}
