:root {
	--font1: 'Poppins', sans-serif;

	--extra-large-font-size: 4rem;
	--large-font-size: 2.5rem;
	--normal-font-size: 1rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	--corner-radius: 1rem;

	--light-base0: #eff1f5;
	--light-base1: #e6e9ef;
	--light-base2: #dce0e8;
	--light-text0: #4c4f69;
	--light-text1: #5c5f77;

	--dark-base0: #24273a;
	--dark-base1: #363a4f;
	--dark-base2: #494d64;
	--dark-text0: #cad3f5;
	--dark-text1: #b8c0e0;

	--color-base0: var(--light-base0);
	--color-base1: var(--light-base1);
	--color-base2: var(--light-base2);
	--color-text0: var(--light-text0);
	--color-text1: var(--light-text1);
	--color-red: #ed8796;
	--color-blue: #8aadf4;
	--color-green: #a6da95;
	--color-yellow: #e5c890;
	--color-magenta: #c6a0f6;
	--color-shadow0: 0 0 1.5rem .1rem rgba(0,0,0,.1);
}

/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
