.wave-wrapper {
	position: absolute;
	top: -13vw;
	left: -100%;
	width: 100%;
	height: 13vw;
	animation: animateWave 3s linear infinite reverse;
}
.wave1,
.wave2,
.wave3 {
	position: absolute;
	width: 100%;
	height: 100%;
	animation: animateWave 6s linear infinite normal;
	animation-play-state: running;
}
.wave1 { left: -100%; }
.wave2 { left: 0; }
.wave3 { left: 100%; }

@keyframes animateWave {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}
